- content_for :head do
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"

- form_for @post do |f|
  = f.error_messages
  %p
    = f.label :draft
    %br
    = f.check_box :draft
  %p
    = f.label :published
    %br
    = f.date_select :published
  %p
    = f.label :title
    %br
    = f.text_field :title, :style => "width: 100%"
  %p
    = f.label :content
    %br
    = f.text_area :content, :style => "width: 100%", :rows => 15
  %p
    = f.submit "Submit"
    = button_to_function "Preview", "jQuery('#preview .post .body').html(jQuery('#post_content').val())"

#preview
  .post
    .body
