%article.post{ :class => post.draft && 'draft' || 'post' }
  %header
    %time{:datetime => post.published.to_s, :pubdate => 'pubdate'}
      %span.day= h post.published.strftime('%d')
      %span.month= h l(post.published, :format => '%b')
    %h1= link_to post.title, post

  .body= post.content

  - if logged_in?
    %footer.admin
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
