!!! Strict
%html{:lang=>'es'}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"
    = javascript_include_tag 'application'
    = yield(:head)
    = auto_discovery_link_tag :atom, atom_path, :title => 'Mis andanzas'
    %link{ :type => 'text/html', :rel => 'me', :href => 'http://www.google.com/profiles/inkel.ar' }
  
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield

    - if not logged_in? and 'leiden.inkel.com.ar' == request.host
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6935564-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
